<div class="row w-50 mx-auto p-4">
  <div class="card p-4">
    <div class="col-12">
      <h4 class="text-center fw-semibold text-secondary-emphasis">
        Reactive Basic Form
      </h4>
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <label for="first-name">First Name: </label>
      <input
        class="form-control"
        id="first-name"
        type="text"
        formControlName="firstName"
      />

      <label for="last-name">Last Name: </label>
      <input
        class="form-control"
        id="last-name"
        type="text"
        formControlName="lastName"
      />
      <div formGroupName="address">
        <div class="my-2">
          <h5>Address</h5>
        </div>

        <label for="street">Street: </label>
        <input
          class="form-control"
          id="street"
          type="text"
          formControlName="street"
        />

        <label for="city">City: </label>
        <input
          id="city"
          class="form-control"
          type="text"
          formControlName="city"
        />

        <label for="state">State: </label>
        <input
          id="state"
          class="form-control"
          type="text"
          formControlName="state"
        />

        <label for="zip">Zip Code: </label>
        <input
          class="form-control"
          id="zip"
          type="number"
          formControlName="zip"
        />
      </div>
      <div class="row" formGroupName="parentDtls">
        <div class="my-2">
          <h5>Parent Details</h5>
        </div>
        <div class="col-6">
          <label for="fatherName">Father Name: </label>
          <input
            class="form-control"
            id="fatherName"
            type="text"
            formControlName="fatherName"
          />
        </div>
        <div class="col-6">
          <label for="fatherMobile">Father Name: </label>
          <input
            class="form-control"
            id="fatherMobile"
            type="text"
            formControlName="fatherMobile"
          />
        </div>
        <div class="col-6">
          <label for="motherName">Mother Name: </label>
          <input
            class="form-control"
            id="motherName"
            type="text"
            formControlName="motherName"
          />
        </div>
        <div class="col-6">
          <label for="motherMobile">Mother Mobile: </label>
          <input
            class="form-control"
            id="motherMobile"
            type="number"
            formControlName="motherMobile"
          />
        </div>
      </div>
      <div class="my-3">
        <button
          type="button"
          class="btn btn-info"
          (click)="toggleQualification()"
        >
          {{ addDynamicControl | titlecase }}
        </button>
      </div>
      <div
        class="row mt-3"
        formGroupName="qualification"
        *ngIf="profileForm.get('qualification')"
      >
        <h5>Qualification</h5>

        <div class="col-4">
          <label>Degree</label>
          <input class="form-control" formControlName="degree" />
        </div>

        <div class="col-4">
          <label>University</label>
          <input class="form-control" formControlName="university" />
        </div>

        <div class="col-4">
          <label>Year</label>
          <input class="form-control" formControlName="year" />
        </div>
      </div>
      <!-- Display the form array in the template -->
      <div formArrayName="hobbies" class="row my-3">
        <h5>Hobbies</h5>

        <button
          type="button"
          class="btn btn-success mb-3 col-3"
          (click)="addHobby()"
        >
          + Add Hobby
        </button>

        <div
          *ngFor="let hobby of hobbies.controls; let i = index"
          [formGroupName]="i"
          class="border p-3 mb-2"
        >
          <label>Hobby Name</label>
          <input class="form-control" formControlName="name" />

          <label>Level</label>
          <input class="form-control" formControlName="level" />

          <label>Since</label>
          <input type="number" class="form-control" formControlName="since" />

          <button
            type="button"
            class="btn btn-danger mt-2"
            (click)="removeHobby(i)"
          >
            Remove
          </button>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-warning my-4 w-100"
        [disabled]="!profileForm.valid"
      >
        Submit
      </button>
    </form>
    <!-- <button type="button" (click)="updateProfile()">Update Profile</button> -->
  </div>
</div>
